<h2 appTitle20>Aparezcan información de Alumnos</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name"
    formControlName="name" placeholder="Nombre" required>
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="alert alert-danger">
      El nombre es obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="surname">Apellidos</label>
    <input type="text" class="form-control" id="surname" name="surname"
    formControlName="surname" placeholder="Apellidos" required>
  </div>
  <div class="form-group">
    <label for="age">Edad</label>
    <input type="number" class="form-control" id="age" name="age"
    formControlName="age" placeholder="Edad" required>
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input type="email" class="form-control" id="email" name="email"
    formControlName="email" placeholder="Correo electrónico" required>
  </div>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
<div *ngIf="!!user.name && !!user.surname" >
  <p>Nombre Completo:</p>
  <p>{{user | fullName }}</p>
  <p>{{user.age | isAdult }}</p>
  <p>{{user.age | moneyMask}}</p>
</div>
